<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518182130026-dp9i9pho14pdadse3k4sp1gd5bedm2e8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518182130026-dp9i9pho14pdadse3k4sp1gd5bedm2e8</string>
	<key>API_KEY</key>
	<string>AIzaSyDAY8ht-WJJbQjUxa9LHohCdD9auDTAwaI</string>
	<key>GCM_SENDER_ID</key>
	<string>518182130026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>simran.Group-F-Protective-App</string>
	<key>PROJECT_ID</key>
	<string>group-f-protective-app</string>
	<key>STORAGE_BUCKET</key>
	<string>group-f-protective-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518182130026:ios:055baa13707627c0029513</string>
	<key>DATABASE_URL</key>
	<string>https://group-f-protective-app.firebaseio.com</string>
</dict>
</plist>